<p>
    Envoyez un chèque, accompagné d'une note avec vos nom, prénom
    et année de promotion, à l'adresse suivante :
</p>
<address class="text-center">
    <strong>Association ADCOG</strong><br>
    109 avenue Roul<br>
    33400 Talence
</address>
<p>
    Vous pouvez aussi le transmettre en main propre à un membre du bureau
    (uniquement). Les membres du bureau sont listés sur la page {{ link('default_presentation') }}.
</p>