<h3>RIB</h3>
<table class="{{ table_class }}">
    <thead>
        <tr>
            <th>Établissement</th>
            <th>Guichet</th>
            <th>Compte</th>
            <th>Clé</th>
            <th>Domiciliation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>13306</td>
            <td>00111</td>
            <td>23069713807</td>
            <td>90</td>
            <td>
                CRÉDIT AGRICOLE TALENCE GALLIENI<br>
                229, COURS GAMBETTA<br>
                33400 TALENCE
            </td>
        </tr>
    </tbody>
</table>
<h3>IBAN</h3>
<table class="{{ table_class }}">
    <thead>
        <tr>
			<th colspan="7">IBAN</th>
            <th>BIC</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>FR76</td>
            <td>1330</td>
            <td>6001</td>
            <td>1123</td>
            <td>0697</td>
            <td>1380</td>
            <td>790</td>
            <td>AGRIFRPP833</td>
        </tr>
    </tbody>
</table>