<h3>RIB</h3>
<table class="{{ table_class }}">
    <thead>
        <tr>
            <th>Établissement</th>
            <th>Guichet</th>
            <th>Compte</th>
            <th>Clé</th>
            <th>Domiciliation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>20041</td>
            <td>01016</td>
            <td>0759797H037</td>
            <td>29</td>
            <td>
                TOULOUSE CENTRE FINANCIER<br>
                7 RUE JEAN PALAPRAT<br>
                31900 TOULOUSE CEDEX 9
            </td>
        </tr>
    </tbody>
</table>
<h3>IBAN</h3>
<table class="{{ table_class }}">
    <thead>
        <tr>
            <th colspan="8">BIC</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>FR73</td>
            <td>2004</td>
            <td>1010</td>
            <td>1607</td>
            <td>5979</td>
            <td>7H03</td>
            <td>729</td>
            <td>PSSTFRPPTOU</td>
        </tr>
    </tbody>
</table>