/app/bootstrap.php.cache
/app/cache/*
/app/spool/*
/app/config/parameters.yml
/app/config/parameters_prod.yml
/app/logs/*
/build/
/vendor/
/bin/
/web/bundles/
/web/cache/
/web/files/
/composer.phar
/.idea
/env.php
*~
/*.txt
/*.sql
