<li class="timeline-inverted">
    <div class="timeline-badge">
        <i class="fa fa-exclamation"></i>
    </div>
    <div class="timeline-panel">
        <div class="timeline-body">
            <p class="well-sm">{{ none_text is defined ? none_text : 'Aucun résultat trouvé.' }}</p>
        </div>
    </div>
</li>