{% extends 'AdcogDefaultBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ link('default_faq') }}</li>
{% endblock %}

{% block content %}
    <p class="alert alert-warning">
        La foire aux questions n'est pas encore disponible.
    </p>
{% endblock %}





