{% extends 'AdcogDefaultBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ link('default_ipb') }}</li>
{% endblock %}

{% block content %}
    <h1 class="featurette-heading">{{ ipb.title }}</h1>
    <div>{{ ipb.content|raw}}</div>
{% endblock %}