{% extends 'AdcogUserBundle:UserExperience:index.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ link('user_experience_create_work') }}</li>
{% endblock %}

{% block subcontent %}

{{dump(toBeDumped)}}

{% endblock %}