{% extends 'AdcogDefaultBundle:Email:layout.html.twig' %}

{% block content %}
    <tr>
        <td>
            <div>
                {{ message|raw }}
            </div>
        </td>
    </tr>
{% endblock %}