{% extends 'AdcogDefaultBundle:Email:layout.html.twig' %}

{% block content %}
    <tr>
        <td>
            {{ user }}, pour récupérer votre mot de passe sur le site,
            nous vous invitons à vous rendre sur la page :
            <a href="{{ url('default_passe_help',{user:user.id,salt:user.salt}) }}">Récupérer mon mot de passe</a>.
        </td>
    </tr>
{% endblock %}