{% extends 'AdcogDefaultBundle:Email:layout.html.twig' %}

{% block content %}
    <tr>
        <td>
            <p style="text-align:justify;">
                Votre mot de passe a changé sur le site de l'association des
                Anciens Diplômés en Cognitique.
                Si vous n'êtes pas à l'origine de cette modification,
                contactez le support à l'adresse suivante :
            </p>
            <p style="text-align:center;">
                <a href="mailto:contact@adcog.fr" style="color:#000000;text-decoration:underline;">contact@adcog.fr</a>
            </p>
        </td>
    </tr>
{% endblock %}