{% extends 'AdcogDefaultBundle:Email:layout.html.twig' %}

{% block content %}
    <tr>
        <td>
            <p>{{ user }}, votre adhésion à l'ADCOG, l'association des anciens élèves de l'ENSC
            {% if expiration_date > date() %}
                va expirer le {{expiration_date|date("d/m/Y")}}. A partir de ce jour,
                les droits associés à votre compte sur le site de l'ADCog seront restreints.
            {% else %}
                a expiré depuis le {{expiration_date|date("d/m/Y")}}. Depuis ce jour,
                les droits associés à votre compte sur le site de l'ADCog sont restreints.
            {% endif %}</p>
            <p>Pour continuer à soutenir les actions de l'ADCog, profiter de tarifs préférentiels sur certains
            de nos événements, et accéder à l'ensemble des fonctionnalités du site, vous pouvez dès à présent
            renouveler votre adhésion directement en ligne sur le site en vous rendant sur la page :
            <a href="{{ url('user_subscribe_index') }}">Mon adhésion</a>.</p>
            <p>A cette occasion, n'hésitez pas à nous faire part de vos remarques et vos attentes via notre
                adresse mail : <a href="mailto:contact@adcog.fr">contact@adcog.fr</a></p>
        </td>
    </tr>
{% endblock %}